body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  overflow-y: scroll;
  position: relative;
  background-color: black;
  width: 100%;
  height: 100%;
}

div#loading {
  background-color: lightblue;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

div#background {
  background-color: lightblue;
  background-image: url(assets/Mount-Diablo-Bay-View-Blurred.min.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(0px);
  z-index: -1;
  transition: filter 1s ease;
}

div#card {
  width: 350px;
  height: 500px;
  margin: 50px;
  background-color: white;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

/*div#card:hover + div#background {*/
div#card:hover + div {
  filter: blur(5px);
}

div#myface-container {
  width: 100px;
  height: 100px;
  margin: 15px auto;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 50px;
  overflow: hidden;
  transition: width 0.5s ease, height 0.5s ease;
}

img#myface {
  height: 110px;
  margin-left: -20px;
  transition: margin 0.5s ease;
}

#card h1 {
  color: orange;
  margin-top: 15px;
  margin-bottom: 15px;
}

#card p {
  margin-top: 10px;
  margin-bottom: 10px;
}

#card ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

#card li {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
  margin: 8px;
}

#card a {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  box-sizing: border-box;
}

#card a:focus {
  border: 3px solid orange;
}

#card a:hover {
  background-color: lightblue;
  cursor: pointer;
}

#card a:active {
  background-color: orange;
  border: 3px solid orange;
}


.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

