:root {
  --background-color: black;
  --foreground-color: white;
  --primary-color: orange;
  --secondary-color: lightblue;
  --black-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 4px 20px 0 rgba(0, 0, 0, 0.1);
  --white-box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.3),
    0 4px 20px 0 rgba(255, 255, 255, 0.2);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  overflow-y: scroll;
  position: relative;
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div#background {
  background-color: var(--background-color);
  opacity: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(0px);
  z-index: -1;
  transition: filter 1s ease-in-out, opacity 2s ease-in-out,
    background-image 2s ease-in-out;
}

div#card {
  width: 350px;
  height: 500px;
  margin: 50px;
  background-color: var(--foreground-color);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  overflow: hidden;
  box-shadow: var(--white-box-shadow);
  text-align: center;
  transition: box-shadow 1s ease-in-out;
}

div#card:hover + div#background {
  filter: blur(2px);
}

div#myface-container,
div#myface-border {
  width: 100px;
  height: 100px;
  overflow: hidden;
}
div#myface-container {
  margin: 15px auto;
}
div#myface-border {
  border-radius: 50px;
  overflow: hidden;
  transition: border-radius 0.5s ease-in-out;
}
div#myface-border.top-right {
  border-top-right-radius: 5px;
}
div#myface-border.bottom-right {
  border-bottom-right-radius: 5px;
}
div#myface-border.bottom-left {
  border-bottom-left-radius: 5px;
}
div#myface-border.top-left {
  border-top-left-radius: 5px;
}

img#myface-image {
  height: 110px;
  margin-left: -20px;
  transition: margin 0.5s ease-in-out;
}

#card h1 {
  color: var(--primary-color);
  margin-top: 15px;
  margin-bottom: 15px;
}

#card p {
  margin-top: 10px;
  margin-bottom: 10px;
}

#card ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

#card li {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: var(--black-box-shadow);
  border-radius: 25px;
  margin: 8px;
}

#card a {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  box-sizing: border-box;
}

#card a:focus {
  border: 3px solid var(--primary-color);
}

#card a:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

#card a:active {
  background-color: var(--primary-color);
  border: 3px solid var(--primary-color);
}
